.timer {
  display: flex;
  margin-top: 50px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  font-weight: 100;
}
.field:last-child {
  margin-right: 0;
}
.value {
  font-size: 34px;

  -webkit-animation: text-focus-in 350ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 350ms cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.label {
  font-weight: 700;
  text-transform: uppercase;
}
